name: Validate flake.nix

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Check Nix flake inputs
      uses: DeterminateSystems/flake-checker-action@v12
    - name: Install Nix
      uses: DeterminateSystems/determinate-nix-action@v3
    - name: Build default package
      run: nix build
